{% extends "layout.html" %}

{% block content %}
<div class="container">  
    <div class="row">   
        <div id="learn-view" class="col-11">
            <iframe src=/flash/1 id = "a" title="Flashcards" width=1000 height=370 scrolling="no" frameBorder="0"></iframe>

            <iframe src=/flash/2 id = "e" title="Flashcards" width=1000 height=370 scrolling="no" frameBorder="0"></iframe>

            <iframe src=/flash/3 id = "i" title="Flashcards" width=1000 height=370 scrolling="no" frameBorder="0"></iframe>

            <iframe src=/flash/7 id = "o" title="Flashcards" width=1000 height=370 scrolling="no" frameBorder="0"></iframe>

            <iframe src=/flash/8 id = "u" title="Flashcards" width=1000 height=370 scrolling="no" frameBorder="0"></iframe>

            <iframe src=/flash/9 id = "r" title="Flashcards" width=1000 height=370 scrolling="no" frameBorder="0"></iframe>

            <iframe src=/flash/13 id = "t" title="Flashcards" width=1000 height=370 scrolling="no" frameBorder="0"></iframe>

            <iframe src=/flash/14 id = "n" title="Flashcards" width=1000 height=370 scrolling="no" frameBorder="0"></iframe>
            
            <iframe src=/flash/15 id = "s" title="Flashcards" width=1000 height=370 scrolling="no" frameBorder="0"></iframe>

            <iframe src=/flash/16 id = "l" title="Flashcards" width=1000 height=370 scrolling="no" frameBorder="0"></iframe>
        </div>
        <div id = "sticky" class = "col-1">
            <center>
                </br>
                    <a class = "nav_button nav_link" href="#a"> a</a>
                </br>
                    <a class = " nav_button nav_link" href="#e"> e</a>
                </br>
                    <a class = " nav_button nav_link" href="#i"> i</a>
                </br>
                    <a class = " nav_button nav_link" href="#o"> o</a>
                </br>
                    <a class = " nav_button nav_link" href="#u"> u</a>
                </br>
                    <a class = " nav_button nav_link" href="#r"> r</a>
                </br>
                    <a class = "nav_button nav_link" href="#t"> t</a>
                </br>
                    <a class = " nav_button nav_link" href="#n"> n</a>
                </br>
                    <a class = " nav_button nav_link" href="#s"> s</a>
                </br>
                    <a class = "nav_button nav_link" href="#l"> l</a>
                </br>
            </center>
        </div>
    </div>
</div>

{% endblock %}
