{% extends "layout.html" %}

{% block content %}
<div class="container">
    <div id = "header" class = "header">
        <h1>MORSE CODE INFO</h1>
        <hr>
    </div>
    <div id = "content">
        <div class = "row">
            <div class = "col-md-4">
                <h3 class="header">Background</h3>
                <ul>
                    <li>
                        Encodes characters based on electrical signals
                    </li>
                    <li>
                        Numeric and Letter Values are expressed using dots and dashes
                    </li>
                </ul>
            </div>
            <div class = "col-md-4">
                <h3 class="header" >TIPS FOR LEARNING</h3>
                <ul>
                    <li>
                        Experienced users recommend to focus on learning the sounds first rather than the textual symbols
                    </li>
                    <li>
                        Practice saying the dits and dahs out loud – a good rule of thumb is dahs should last approximately
                        three times longer than dits
                    </li>
                    <li>
                        In words, letters should should be separated by approximately one dah
                    </li>
                </ul>
            </div>
            <div class = "col-md-4 ">
                <h3 class="header">SECTION BREAKDOWN</h3>
                <ul>
                    <li>
                        In the learn section, you will be introduced to 10 letters and be given progress checks to ensure 
                        that you can identify all the letters
                    </li>
                    <li>
                        The flashcards are available to easily navigate and review specific letters you may be having 
                        difficulty with 
                    </li>
                    <li>
                        The test section is meant to assess how well you have mastered the material. This can be retaken.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}
