{% extends "layout.html" %}

{% block content %}

<div id="learn_welcome_container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div id="learn_welcome_img">
                <img src="https://cdn-icons-png.flaticon.com/512/926/926517.png" id="morse_code_image_welcome" alt="Welcome page image">
            </div>
        </div>
        <div class="col-md-6">
            <div id="learn_welcome_intro">
                <div id="learn_welcome_text">
                    In this section you will be quizzed on the 10 letters in
                    various formats
                </div>
                <div id="learn_welcome_begin" class="transition_button" data-href="/quiz/0?restart=1">
                    <div class="transition_link">Begin</div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
